:root {
  background-color: #181818;
  --accent: rebeccapurple;
  --accent2: rgb(121, 60, 182);
  --p1: #aaaaaa;
  --p2: #d3d3d3;
  --b1: #1f1f1f;
  --b2: #262626;
  --b3: #303030;
  --b4: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

h1,
h2 {
  color: white;
}

p {
  color: var(--p1);
}

.app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.responsiveness {
  display: none;
}

.predictions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background-color: var(--b1);
}

.prediction-form,
.predictions-table {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 3rem;
  height: 34rem;
  width: 34rem;
  flex: none;
}

.img-container {
  flex: none;
  height: 7.5rem;
  width: 7.5rem;
  overflow: hidden;
  object-fit: cover;
  background-color: white;
  border-radius: 1rem;
}

img {
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.result-container {
  justify-self: center;
  align-self: center;
  margin: auto;
}

.result {
  padding: 0.5rem 0.75rem;
  margin: -0.5rem;
  border-radius: 1rem;
  background-color: var(--accent);
  color: white;
  display: inline-block;
}


.prediction-form .result {
  margin-left: 0.25rem;
}

.result:empty {
  display: none;
}

.prediction-form {
  justify-content: space-between;
  background-color: var(--b1);
}

.prediction-form label {
  color: var(--p1);
}

.prediction-form:hover p,
.prediction-form:hover label {
  color: var(--p2);
}

.prediction-form:hover input {
  background-color: var(--b3);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
}

form button {
  grid-column: span 2;
}

form input {
  background-color: var(--b2);
  border: 0px solid white;
  border-radius: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--p2);
  width: 100%;
  margin-top: 0.25rem;
}

input {
  outline: none;
}

.prediction-form:hover input:focus,
input:focus {
  background-color: var(--b4);
}

form button {
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--accent);
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: var(--accent2);
}

.predictions-table h2 {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.predictions-table table {
  width: 100%;
  border-collapse: collapse;
  word-wrap: break-word;
}

.predictions-table td {
  color: var(--p1);
}

.predictions-table:hover td {
  color: var(--p2);
}

.predictions-table th,
.predictions-table td {
  border: 1px solid var(--b2);
  padding: 0.7rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

.predictions-table:hover th,
.predictions-table:hover td {
  border-color: var(--b3);
}

.predictions-table th {
  color: white;
}

.predictions-table tbody tr:hover {
  background-color: var(--b2);
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}

.predictions-table button {
  background-color: var(--b1);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem;
  color: var(--p1);
  cursor: pointer;
}

.predictions-table:hover button {
  color: var(--p2);
}

.predictions-table:hover button {
  background-color: var(--b2);
}

.predictions-table tr:hover button {
  background-color: var(--b3);
}

.predictions-table:hover button:hover {
  background-color: var(--b4);
}

@media (max-width: 1150px) {
  .predictions-container {
    display: none;
  }
  .responsiveness {
    display: initial;
  }
}
